<div class="navbar">
  <div class="logo">
    <%= link_to tanks_path do %>
      <%= image_tag 'fishu/logo.png' %>
      <% end %>
  </div>
</div>

<div class="day">
 <div class="zoomtumb">
 <h1 id="zoomtumb">RIP</h1>
 <% if @tank.fish.count > 1 %>
    <% fishiz = @tank.fish.map do |fish|%>
      <%if fish == @tank.fish.first %>
        <% fish.name %>
      <%elsif fish == @tank.fish.last %>
        <% " et #{fish.name}" %>
      <% else %>
        <%", #{fish.name}" %>
      <%end %>
    <%end %>
      <p><%="Ci-gisent #{fishiz.join("")}."%></p>
       <p>Ils sont morts à cause d'une intoxication aux nitrites.
       La pollution aux nitrites est le resultats de la décomposition des matières organiques dans l'aquarium comme les excréments des poissons, des restes de nourriture ou encore des plantes mortes.
       Pour réduire la concentration en nitrite, on peut les diluer en adaptant le volume de l'aquarium à la taille des poissons et à leur nombre.
       Ajouter des plantes permet également de limiter la pollution car elles se nourrissent en partie des déchets et permettent de filtrer l'eau.</p>

  <%else %>
    <p>Ci-gît <%="#{@tank.fish.first.name}"%>.</p>
    <p>Il est mort à cause d'une intoxication aux nitrites.
    La pollution aux nitrites est le resultats de la décomposition des matières organiques dans l'aquarium comme les excréments des poissons, des restes de nourriture ou encore des plantes mortes.
       Pour réduire la concentration en nitrite, on peut les diluer en adaptant le volume de l'aquarium à la taille des poissons et à leur nombre.
       Ajouter des plantes permet également de limiter la pollution car elles se nourrissent en partie des déchets et permettent de filtrer l'eau.</p>

  <%end %>

</div>
    </div>

<div class="buttons" data-controller="button">
  <div class="set-up">
    <div class="eat-button">
      <%= button_to feed_tank_path(@tank),
                    class:"btn",
                    data: {
                      action: "click->poop#playPopSound"
                    } do %>
        <%= image_tag "fishu/food.png", class:"btn-img" %>
      <% end %>
    </div>

    <div class="button-plant">
      <%= button_to add_plant_tank_path(@tank), class:"btn" do %>
        <%= image_tag "fishu/leaf.png", class:"btn-img" %>
      <%end %>
    </div>

    <div class="lamp-button">
      <% if @tank.has_lamp %>
        <div class="has-lamp"></div>
      <% end %>
      <%= button_to add_lamp_tank_path(@tank), class:"btn" do %>
        <%= image_tag "fishu/bulb.png", class:"btn-img" %>
      <% end %>
    </div>

    <div class="size-button">
      <%= button_to increase_tank_size_tank_path(@tank), class:"btn" do %>
        <%= image_tag "fishu/drop.png", class:"btn-img" %>
      <% end %>
    </div>

      <% if @tank.liters >= 20 && @tank.fish.last.alive %>
        <div class="btn">
          <%= link_to new_tank_fish_path(@tank) do %>
        <div>
        <%= image_tag "fishu/morefish.png", class:"btn-img", style:"width:40px" %>
        <% end %>
        </div>
        </div>
    <% if @tank.liters >= 20 %>
      <% end %>
      <%end %>
  </div>

  <div class="dashboard">
      <div class="fish-info">
      <%if @tank.fish.count == 1 %>
      <% poisson = "poisson" %>
      <%else %>
      <% poisson = "poissons" %>
      <%end %>

      <span class="underline"> <%= poisson %> </span>
      <div class="fish-list">
        <% @tank.fish.each do |fish| %>
          <span class="item-fish">
            <%=fish.name%>
            <div class="size"><div class="nb"><%=fish.size%></div>cm
            </div>
          </span>
        <% end %>
      </div>
      </div>

      <div class="tank-info">
        <span class="underline">
          Paramètres
        </span>
        <div class="details-info">
          <div class="item">
              Plantes : <span class="nb"><%= @tank.plants.count %></span>
          </div>

          <div class="item">
            NO3 : <div class="nb"><%= @tank.nitrate %></div>mg/L
          </div>

          <span class="item">
            Volume : <div class="nb"><%= @tank.liters %></div>L
          </span>

          <span class="item">
            Jour : <div class="nb"><%= @tank.age %></div>
          </span>
        </div>
      </div>
    </div>



  <div class="day-button" data-controller="night">
  <div style="display: flex; flex-direction: column-reverse;gap: 10px;">
  <% if @tank.fish.last.alive? == false %>
    <div class="">
      <%= button_to reset_all_tank_path(@tank),
      class:"btndroite",
      data: {
        action: "click->button#playFlushSound"
      } do %>
        <%= image_tag "fishu/redo.png", class:"btn-img" %>
      <% end %>
    </div>
  <% end %>
    <a class="btndroite lien" href="#popup" data-turbo="false" class="pop">?</a>
    </div>
    <div class="flex">
    <div class="trous">
    <div class="trou"></div>
    <div class="trou"></div>
    <div class="trou"></div>
    </div>
    <%= button_to new_day_tank_path(@tank), class:"btndroite", data: { action: "#{@tank.fish.last.fed? ? "click->night#nightAnimation" : "click->night#notFed"}" } do %>
      <%= image_tag "fishu/moon.png", class:"btn-img"%>
    <% end %>
    </div>
  </div>
  </div>


  <div class="regles_button">
    <div id="popup" class="regles">
      <div class="regles_content">
        <h1>Règles du jeu</h1>
        <h2>Maintiens ton <%= image_tag "fishu/fishi.png", class:"icon" %> en vie!
          <br>
          <p> * Il a besoin de manger <%= image_tag "fishu/food.png", class:"icon" %> 1 fois par jour <%= image_tag "fishu/moon.png", class:"icon"%></p>
          <p> * Quand il mange <%= image_tag "fishu/food.png", class:"icon" %> il produit du nitrate (NO3-) <%= image_tag "fishu/poop.png", class:"icon" %> </p>
          <p> * Les plantes <%= image_tag "fishu/leaf.png", class:"icon" %> réduisent les nitrates (NO3-) <%= image_tag "fishu/poop.png", class:"icon" %> </p>
          <p> * Les plantes <%= image_tag "fishu/leaf.png", class:"icon" %> ont besoin de lumière <%= image_tag "fishu/bulb.png", class:"icon" %></p>
          <p> * + il mange <%= image_tag "fishu/food.png", class:"icon" %> + il grandit + il a besoin d'espace <%= image_tag "fishu/drop.png", class:"icon" %> </p>
          <p> * Utilise tes bubulles <%= image_tag 'fishu/bulles.png', class:"icon" %> pour faire de nouveaux achats </p>
          <p> * Tu gagnes 20 bubulles <%= image_tag 'fishu/bulles.png', class:"icon" %> par jour <%= image_tag "fishu/moon.png", class:"icon"%> </p>
        <a href="#" class="regles_close" data-turbo="false">&times;</a>
      </div>
    </div>
  </div>
