<%= @tank.fish.last.name %>

<%# <div class="aquarium">
<div class="bocal">
<img src="app/assets/images/bocal.png" alt="bocal"> %>
<%# </div> %>
<%# <div class="fishi"> %>
 <%# <%= image_tag ("/assets/images/fishi.png", alt: "fishi") %>
<%# </div>
</div> %>

Nitrate :<%= @tank.nitrate%>

taille du bac <%=@tank.liters%>

taille du ssoipon <%=@tank.fish.last.size%>
Nmbre de plante: <%= @tank.plants.count%>
<% user = current_user%>
sous <%= user.currency%>
lampe ? <%= @tank.has_lamp%>
<%= button_to "nourrir le ssoipon", feed_tank_path(@tank)%>
<%= button_to "Ajouter plante", add_plant_tank_path(@tank) %>
<%= button_to "Ajouter une lampe", add_lamp_tank_path(@tank) %>
<%= button_to "Agrandir l'aquarium", increase_tank_size_tank_path(@tank) %>
<%= button_to "Passer un jour", new_day_tank_path(@tank) %>
