<div class="navbar">
  <div class="name">
    <%= @tank.fish.last.name %>
  </div>
  <div class="bulle">
    
  </div>
</div>

<div class="container">
  <div class="fish-container tank">

  </div>
  <div class="fish">

  </div>

  <div class="plante">

  </div>

  <div class="poop">

  </div>
</div>

<div class="buttons">
  <div class="eat-button">
    <%= button_to "nourrir le ssoipon", feed_tank_path(@tank)%>
  </div>
  <div class="button-plant">
    <%= button_to "Ajouter plante", add_plant_tank_path(@tank) %>
  </div>
  <div class="lamp-button">
    <%= button_to "Ajouter une lampe", add_lamp_tank_path(@tank) %>
  </div>
  <div class="size-button">
    <%= button_to "Agrandir l'aquarium", increase_tank_size_tank_path(@tank) %>
  </div>
  <div class="day_button">
    <%= button_to "Passer un jour", new_day_tank_path(@tank) %>
  </div>
</div>
