<% if @tank.fish.count == 0 %>
  <%= link_to "Crée un nouveau poisson", new_tank_fish_path(@tank) %>
<% else %>

<div class="navbar">
  <div class="name">
    <%= @tank.fish.last.name %>
    <br>
  </div>
  <div class="logo">
    <%= link_to tanks_path do %>
      <%= image_tag 'https://res.cloudinary.com/detoat4si/image/upload/v1709910367/logo_vkcqrc.png' %>
      <% end %>
  </div>
  <div class="bulle">
    <p class="points"><%= @user.currency %> x
    <span><%= image_tag 'https://res.cloudinary.com/detoat4si/image/upload/v1709817978/bulles_momkcw.png' %></span>
    </p>
    <% if params[:bubble].present? %>
      <span class="new-points">+ <%= params[:bubble] %></span>
    <% end %>
  </div>
</div>

<div class="day">
  <audio id="popSound" src="<%= image_path("https://res.cloudinary.com/detoat4si/video/upload/v1710239882/pop_k74adw.mp3") %>"></audio>
  <audio id="flushSound" src="<%= image_path("https://res.cloudinary.com/detoat4si/video/upload/v1710273036/v983j86nqrjtvd8w2kqv.mp3") %>"></audio>
    <% if @tank.liters < 20 %>
      <div class="tank" style="background-image: url('https://res.cloudinary.com/detoat4si/image/upload/v1709818010/bocal_z7f90p.png');">
    <% end %>

      <% @tank.fish.each_with_index do |f, i| %>
        <% if @tank.fish.last.alive? %>
          <div class="fish">
            <% if @tank.liters < 19 %>
              <% t =  %>
              <% l = 95 %>
            <% else %>
              <% t = rand(0..330) %>
              <% l = rand(0..350) %>
            <% end %>
            <% if @tank.liters < 19 %>
              <%fish = "fish1"%>
              <% length = "Swim" %>
            <% elsif @tank.liters >= 19 && @tank.liters < 30%>
              <% fish = "fish2"%>
              <% length = "Swim2" %>
            <% elsif @tank.liters >= 30 && @tank.liters < 50%>
              <%fish = "fish3"%>
              <% length = "Swim3" %>
            <% else %>
              <%fish = "fish4"%>
              <% length = "Swim4" %>
            <%end %>
            <% if i.odd? %>
              <% if @tank.fish.last.sick? %>
                <% speed = rand(4..5) %>
                <%= image_tag 'https://res.cloudinary.com/detoat4si/image/upload/v1710233945/sick_tvr31y.png', class:"#{fish}", style:"position: absolute; background-position: center; top: #{t}px; left: #{l}px; animation: #{length} #{speed}s ease-in-out infinite;" %>
              <% else %>
                <% speed = rand(2..3) %>
                <%= image_tag 'https://res.cloudinary.com/detoat4si/image/upload/v1709818038/fishi_hvnpfp.png', class:"#{fish}", style:"position: absolute; background-position: center; top: #{t}px; left: #{l}px; animation: #{length} #{speed}s ease-in-out infinite;" %>
              <% end %>
            <% else %>
              <% if @tank.fish.last.sick? %>
                <% speed = rand(4..5) %>
                <%= image_tag 'https://res.cloudinary.com/detoat4si/image/upload/v1710233944/sick2_jsmdo1.png', class:"#{fish}", style:"position: absolute; background-position: center; top: #{t}px; left: #{l}px; animation: #{length} #{speed}s ease-in-out infinite;" %>
              <% else %>
                <% speed = rand(1..3) %>
                <%= image_tag 'https://res.cloudinary.com/detoat4si/image/upload/v1710233945/fishi2_qjvbph.png', class:"#{fish}", style:"position: absolute; background-position: center; top: #{t}px; left: #{l}px;; animation: #{length} #{speed}s ease-in-out infinite;" %>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <div class="tomb">
            <%= image_tag 'https://res.cloudinary.com/detoat4si/image/upload/v1709819081/rip.png_14-17-06-151_dv31b3.png', style:"width: #{50}%;" %>
          </div>
        <% end %>
      <% end %>

      <div class="plante">
        <% if @tank.plants.count > 0 %>
          <% if @tank.liters < 20 %>
            <% left = "calc(#{rand(40..60)}% - 35px)" %>
            <% bottom = "10px" %>
          <% else %>
            <% left = "calc(#{rand(5..95)}% - 20px)" %>
            <% bottom = "calc(#{5}%)" %>
          <% end %>
          <% if @tank.liters < 19 %>
            <%plant = "plant1"%>
          <% elsif @tank.liters > 19 && @tank.liters < 50%>
            <% plant = "plant2"%>
          <% elsif @tank.liters > 50 && @tank.liters < 70%>
            <%plant = "plant3"%>
          <% else %>
            <%plant = "plant4"%>
          <%end %>
          <%= image_tag 'https://res.cloudinary.com/detoat4si/image/upload/v1709818107/plant_lfwgi1.png', class:"#{plant}", style:"position: absolute; bottom: #{bottom}; left: #{left};" %>
        <%end%>
      </div>

      <div class="poops" data-controller="poop">
        <div class="poop-container">
          <% if @tank.nitrate > 0 %>
            <% n = @tank.nitrate %>
            <% poops = (1..n).to_a %>
            <% poops.each do |poop| %>
              <%if @tank.liters < 20 %>
                <% top = "calc(#{rand(25..65)}% - 44px)" %>
                <% left = "calc(#{rand(25..65)}% - 44px)" %>
              <% else %>
                <% top = "calc(#{rand(15..95)}% - 14px)" %>
                <% left = "calc(#{rand(5..95)}% - 14px)" %>
              <%end %>
              <% if @tank.liters < 19 %>
                <% poopimage = "poop-image1"%>
              <% elsif @tank.liters > 19 && @tank.liters < 50%>
                <% poopimage = "poop-image2"%>
              <% elsif @tank.liters > 50 && @tank.liters < 70%>
                <% poopimage = "poop-image3"%>
              <% else %>
                <% poopimage = "poop-image4"%>
                <%end %>
              <%= image_tag 'https://res.cloudinary.com/detoat4si/image/upload/v1709818123/poop_ic8z7v.png',
                            class: "#{poopimage}",
                            style:"position: absolute; background-position: center; top: #{top}; left: #{left};" %>
            <% end %>
          <% end %>
        </div>
      </div>
  </div>
</div>
<div class="buttons"
  data-controller="button">
  <div class="set-up">
    <div class="eat-button">
      <%= button_to feed_tank_path(@tank),
                    class:"btn",
                    data: {
                      action: "click->poop#playPopSound"
                    } do %>
        <%= image_tag "https://res.cloudinary.com/detoat4si/image/upload/v1709908668/food_hpgn0v.png", class:"btn-img" %>
      <% end %>

    </div>
    <div class="button-plant">
      <%= button_to add_plant_tank_path(@tank), class:"btn" do %>
        <%= image_tag "https://res.cloudinary.com/detoat4si/image/upload/v1709908668/leaf_wkvdfh.gif", class:"btn-img" %>
      <%end %>

    </div>
    <div class="lamp-button">
      <% if @tank.has_lamp %>
        <div class="has-lamp"></div>
      <% end %>
      <%= button_to add_lamp_tank_path(@tank), class:"btn" do %>
        <%= image_tag "https://res.cloudinary.com/detoat4si/image/upload/v1709908668/bulb_kjdcky.gif", class:"btn-img" %>
      <% end %>
    </div>

    <div class="size-button">
      <%= button_to increase_tank_size_tank_path(@tank), class:"btn" do %>
        <%= image_tag "https://res.cloudinary.com/detoat4si/image/upload/v1709908668/drop_nurd3m.png", class:"btn-img" %>
      <% end %>
    </div>

    <% if @tank.liters >= 20 %>
    <div class="btn">
      <%= link_to new_tank_fish_path(@tank) do %>
        <%= image_tag "https://res.cloudinary.com/detoat4si/image/upload/v1710256281/morefish_ngkz2x.png", class:"btn-img" %>
        <% end %>
    </div>
    <% end %>

  </div>
  <div class="dashboard">
    <p>
    niveau de nitrate: <%= @tank.nitrate %>
    <br>
    bac: <%= @tank.liters %>L
    <br>
    taille du poisson: <%= @tank.fish.last.size %>cm
    <br>
    <% if @tank.plants.count == 1  %>
      <%= @tank.plants.count %> plante
    <%else%>
    <%= @tank.plants.count %> plantes
    <%end %>
    <%= @tank.fish.count %> fishis
    </p>
  </div>
  <div class="regles_button">
    <div id="popup" class="regles">
      <div class="regles_content">
        <h1>Règles du jeu</h1>
        <h2>Maintiens ton poisson en vie!
          <br>
        <p>* Il a besoin de manger 1 fois par jour
          <br>
          * Quand il mange il produit du nitrate
          <br>
          * Une plante filtre le nitrate
          <br>
          * Une plante à besoin de lumière
          <br>
          * + ton poisson mange + il grandit + il a besoin d'espace
          <br>
          * Utilise tes bubulles pour faire de nouveaux achats
          <br>
          * Tu gagnes 20 bubulles/jour
        </p>
        <a href="#" class="regles_close" data-turbo="false">&times;</a>
      </div>
    </div>
  </div>

  <% if @tank.fish.last.alive? == false %>
    <div class="size-button">
      <%= button_to reset_all_tank_path(@tank),
      class:"btn",
      data: {
        action: "click->button#playFlushSound"
      } do %>
        <%= image_tag "https://res.cloudinary.com/detoat4si/image/upload/v1710165578/redo_lpe81i.png", class:"btn-img" %>
      <% end %>
    </div>
  <% end %>

  <div class="day-button"
    data-controller="night">
    <a class="btn" href="#popup" data-turbo="false" class="pop">?</a>
    <%= button_to new_day_tank_path(@tank),
    class:"btn",
    data: {
            action: "click->night#nightAnimation"
          } do %>
      <%= image_tag "https://res.cloudinary.com/detoat4si/image/upload/v1709908668/moon_ckaxya.png", class:"btn-img"%>
    <% end %>
  </div>
</div>


<% end %>
