<% if @tank.fish.count == 0 %>
<div class="navbar" style="justify-content: center;position: absolute;top: 0%;">
  <div class="logo">
      <%= image_tag 'fishu/logo.png' %>
  </div>
</div>
<div class="index">
  <%= link_to "Creer un nouveau poisson", new_tank_fish_path(@tank) %>
  </div>
<% else %>

<div class="navbar">
  <div class="name">
  </div>
  <div class="logo">
    <%= link_to tanks_path do %>
      <%= image_tag 'fishu/logo.png' %>
      <% end %>
  </div>
</div>

<div class="day <%= "to_day" if params[:to_day].present? %>">
  <audio id="popSound" src="<%= image_path("fishu/pop.mp3") %>"></audio>
  <audio id="flushSound" src="<%= image_path("https://res.cloudinary.com/detoat4si/video/upload/v1710273036/v983j86nqrjtvd8w2kqv.mp3") %>"></audio>
    <div class="bulle">
      <p class="points"><%= @user.currency %>
      <span><%= image_tag 'fishu/bulles.png' %></span>
      </p>
      <% if params[:bubble].present? %>
        <span class="new-points">+ <%= params[:bubble] %></span>
      <% end %>
    </div>
    <% if @tank.liters < 20 %>
      <div class="tank" style="background-image: url('<%= image_path('fishu/bocal.png') %>');">
    <% end %>
    <div class="fish">
      <div class="fish-container">
        <% @tank.fish.each_with_index do |f, i| %>
          <% if @tank.fish.last.alive? %>
              <% if @tank.liters < 20 %>
                <% t = 20 %>
                <% l = 25 %>
              <% else %>
                <% t = rand(9..70) %>
                <% l = rand(0..60) %>
              <% end %>
              <% if @tank.liters < 20 %>
                <% fish = "fish1"%>
                <% length = "Swim" %>
              <% elsif @tank.liters >= 20 && @tank.liters < 50%>
                <% fish = "fish2"%>
                <% length = "Swim2" %>
              <% elsif @tank.liters >= 50 && @tank.liters < 80%>
                <% fish = "fish3"%>
                <% length = "Swim3" %>
              <% else %>
                <% fish = "fish4"%>
                <% length = "Swim4" %>
              <%end %>
              <% if i.odd? %>
                <% if @tank.fish.last.sick? %>
                  <% speed = rand(4..5) %>
                  <%= image_tag 'fishu/sick.png', class:"#{fish}", style:"position: absolute; background-position: center; top: #{t}%; left: #{l}%; animation: #{length} #{speed}s ease-in-out infinite;" %>
                <% else %>
                  <% speed = rand(2..3) %>
                  <%= image_tag 'fishu/fishi.png', class:"#{fish}", style:"position: absolute; background-position: center; top: #{t}%; left: #{l}%; animation: #{length} #{speed}s ease-in-out infinite;"%>
                <% end %>
              <% else %>
                <% if @tank.fish.last.sick? %>
                  <% speed = rand(4..5) %>
                  <%= image_tag 'fishu/sick2.png', class:"#{fish}", style:"position: absolute; background-position: center; top: #{t}%; left: #{l}%; animation: #{length} #{speed}s ease-in-out infinite;" %>
                <% else %>
                  <% speed = rand(1..3) %>
                  <%= image_tag 'fishu/fishi2.png', class:"#{fish}", style:"position: absolute; background-position: center; top: #{t}%; left: #{l}%; animation: #{length} #{speed}s ease-in-out infinite;" %>
                <% end %>
              <% end %>
          <% else %>
            <div class="tomb">
              <%= image_tag 'fishu/rip.png', style:"width: #{50}%;" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="plantes">
      <div class="plante-container">
        <% if @tank.plants.count > 0 %>
          <%@tank.plants.each do |plant| %>
          <% if @tank.liters < 20 %>
            <% left = "#{rand(25..60)}%" %>
            <% bottom = "5%" %>
          <% else %>
            <% left = "#{rand(0..95)}%" %>
            <% bottom = "#{rand(0..10)}%" %>
          <% end %>
          <% if @tank.liters < 20 %>
            <%plant = "plant1"%>
          <% elsif @tank.liters >= 20 && @tank.liters < 50%>
            <% plant = "plant2"%>
          <% elsif @tank.liters >= 50 && @tank.liters < 80%>
            <%plant = "plant3"%>
          <% else %>
            <%plant = "plant4"%>
          <%end %>
          <%= image_tag 'fishu/plant.png', class:"#{plant}", style:"position: absolute; bottom: #{bottom}; left: #{left};" %>
        <%end%>
        <%end %>
      </div>
    </div>

    <div class="poops" data-controller="poop">
      <div class="poop-container">
        <% if @tank.nitrate > 0 %>
          <% n = @tank.nitrate %>
          <% poops = (1..n).to_a %>
          <% poops.each do |poop| %>
            <%if @tank.liters < 20 %>
              <% top = "#{rand(10..75)}%" %>
              <% left = "#{rand(20..70)}% " %>
            <% else %>
              <% top = "#{rand(10..95)}% " %>
              <% left = "#{rand(5..95)}% " %>
            <%end %>
            <% if @tank.liters < 20 %>
              <% poopimage = "poop-image1"%>
            <% elsif @tank.liters >= 20 && @tank.liters < 50%>
              <% poopimage = "poop-image2"%>
            <% elsif @tank.liters > 50 && @tank.liters < 80%>
              <% poopimage = "poop-image3"%>
            <% else %>
              <% poopimage = "poop-image4"%>
              <%end %>
            <%= image_tag 'fishu/poop.png',
                          class: "#{poopimage}",
                          style:"position: absolute; background-position: center; top: #{top}; left: #{left};" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if @tank.liters < 20 %>
    </div>
    <% end %>
  <div class="infos">
    <div style="padding: 4px;">NO3:<%= @tank.nitrate %>mg/L</div>
    <div style="padding: 4px;"><%= @tank.liters %>L</div>
  </div>
</div>
<div class="buttons"
  data-controller="button">
  <div class="set-up">
    <div class="eat-button">
      <%= button_to feed_tank_path(@tank),
                    class:"btn",
                    data: {
                      action: "click->poop#playPopSound"
                    } do %>
        <%= image_tag "fishu/food.png", class:"btn-img" %>
      <% end %>

    </div>
    <div class="button-plant">
      <%= button_to add_plant_tank_path(@tank), class:"btn" do %>
        <%= image_tag "fishu/leaf.png", class:"btn-img" %>
      <%end %>

    </div>
    <div class="lamp-button">
      <% if @tank.has_lamp %>
        <div class="has-lamp"></div>
      <% end %>
      <%= button_to add_lamp_tank_path(@tank), class:"btn" do %>
        <%= image_tag "fishu/bulb.png", class:"btn-img" %>
      <% end %>
    </div>

    <div class="size-button">
      <%= button_to increase_tank_size_tank_path(@tank), class:"btn" do %>
        <%= image_tag "fishu/drop.png", class:"btn-img" %>
      <% end %>
    </div>

    <% if @tank.liters >= 20 %>
    <div class="btn">
      <%= link_to new_tank_fish_path(@tank) do %>
        <%= image_tag "fishu/morefish.png", class:"btn-img" %>
        <% end %>
    </div>
    <% end %>

  </div>
  <div class="dashboard">

    <p>
    <% @tank.fish.each do |fish| %>
    <%=fish.name%>: <%=fish.size%>cm
    <%end %>
    </p>
     <p>
    <% if @tank.plants.count == 1  %>
      <%= @tank.plants.count %> plante
    <%else%>
    <%= @tank.plants.count %> plantes
    <%end %>
    <p>
      Nombre de jours: <%= @tank.age %>
    </p>
    </p>
  </div>
  <div class="regles_button">
    <div id="popup" class="regles">
      <div class="regles_content">
        <h1>Règles du jeu</h1>
        <h2>Maintiens ton <%= image_tag "fishu/fishi.png", class:"icon" %> en vie!
          <br>
          <p> * Il a besoin de manger <%= image_tag "fishu/food.png", class:"icon" %> 1 fois par jour <%= image_tag "fishu/moon.png", class:"icon"%></p>
          <p> * Quand il mange <%= image_tag "fishu/food.png", class:"icon" %> il produit du nitrate (NO3-) <%= image_tag "fishu/poop.png", class:"icon" %> </p>
          <p> * Les plantes <%= image_tag "fishu/leaf.png", class:"icon" %> réduisent les nitrates (NO3-) <%= image_tag "fishu/poop.png", class:"icon" %> </p>
          <p> * Les plantes <%= image_tag "fishu/leaf.png", class:"icon" %> ont besoin de lumière <%= image_tag "fishu/bulb.png", class:"icon" %></p>
          <p> * + il mange <%= image_tag "fishu/food.png", class:"icon" %> + il grandit + il a besoin d'espace <%= image_tag "fishu/drop.png", class:"icon" %> </p>
          <p> * Utilise tes bubulles <%= image_tag 'fishu/bulles.png', class:"icon" %> pour faire de nouveaux achats </p>
          <p> * Tu gagnes 20 bubulles <%= image_tag 'fishu/bulles.png', class:"icon" %> par jour <%= image_tag "fishu/moon.png", class:"icon"%> </p>
        <a href="#" class="regles_close" data-turbo="false">&times;</a>
      </div>
    </div>
  </div>



  <div class="day-button" data-controller="night">
  <div>
  <% if @tank.fish.last.alive? == false %>
    <div class="">
      <%= button_to reset_all_tank_path(@tank),
      class:"btn",
      data: {
        action: "click->button#playFlushSound"
      } do %>
        <%= image_tag "fishu/redo.png", class:"btn-img" %>
      <% end %>
    </div>
  <% end %>
    <a class="btn" href="#popup" data-turbo="false" class="pop">?</a>
    </div>
    <%= button_to new_day_tank_path(@tank), class:"btn", data: { action: "#{@tank.fish.last.fed? ? "click->night#nightAnimation" : "click->night#notFed"}" } do %>
      <%= image_tag "fishu/moon.png", class:"btn-img"%>
    <% end %>
  </div>
</div>
<% end %>
