<div class="navbar" style="justify-content: center">
    <%= link_to tanks_path do %>

      <%= image_tag 'fishu/logo.png', style:"height: 30px;" %>
      <% end %>
</div>

<div class="screen">

  <div class="bag">
  </div>
  <div class="fishi">
  </div>
</div>


<div class="centerfooter">
  <%= form_with model: @fish, url: tank_fish_index_path(@tank), class:"form-with" do |f| %>
    <%= f.text_field :name, class:'input' %>
    <%= f.submit "Nomme ton poisson", class:'btn-index' %>
  <% end %>
</div>
