<div class="navbar" style="justify-content: center">
  <div class="logo">
    <%= link_to tanks_path do %>
      <%= image_tag 'fishu/logo.png' %>
      <% end %>
  </div>
</div>
<div class="day">
<div class="tank">

  <%= image_tag 'fishu/sac.png', style:"width: 100%;" %>

<div class="fish">
  <%= image_tag 'fishu/fishi.png', class:"fish1", style:"position: absolute;top: 30%;left: 22%; animation: Swim 2s ease-in-out infinite;" %>
</div>
</div>
</div>

<div class="formulaire">
  <%= form_with model: @fish, url: tank_fish_index_path(@tank) do |f| %>
    <%= f.text_field :name, class:'form' %>
    <%= f.submit "Nomme ton poisson", class:'form' %>
  <% end %>
  <%= @fish.errors.full_messages.join()%>


</div>
